/* Google Web Font : Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Default CSS */
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}

.cd-section > div {
  height: 100%;
  position: relative;
}

/* calc */
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.gnb-inner {
  width: calc(100% - 40px);
  margin: auto;
  height: 60px;
  line-height: 60px;
}

.logo {
  float: left;
}
.logo img {
  padding-top: 17px;
}

.gnb {
  font: left;
}

.menu {
  display: none;
}

/* .menu a {} */

.slogan {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  right: 20px;
  top: 50px;
}

/* Hiring Button */
.btn-hiring {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.38);
  transition: 0.5s;
}
.btn-hiring .fa {
  /* transform: rotateY(180deg); */
  margin-right: 5px;
}
.btn-hiring:active {
  transform: scale(0.1);
}

/* ----- Section : About ------ */
.about-inner {
  height: 100%;
  border: 3px solid red;
  background-image: url("/images/line-drawing.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #08bee6;
}

.about-items {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}

.item {
  margin-bottom: 30px;
  overflow: hidden;

  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center; */
  color: white;
}

.item > img {
  float: left;
  margin-right: 20px;
  height: 130px;
  filter: invert(1);
  transition: 0.5s;
}

.item:hover img {
  filter: invert(0);
}
.item:hover h1 {
  color: black;
}

.item-description h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
  letter-spacing: -1px;
}

.item-description p {
  overflow: hidden;
  font-size: 18px;
}

/* .item-img {
  height: 100%;
  width: 100px;
  color: white;
} */

/* ===== Section : plan ====== */
.plan-inner {
  height: 100%;
}

.plan-feature {
  width: 80%;
  height: 80%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan-info {
  width: 100%;
  height: 50%;
  color: white;
}

.plan-info > div {
  float: left;
}

.plan-heading > h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.plan-bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: #0088cc;
  margin: 30px 0;
}

.plan-heading > p {
  font-weight: normal;
}

.plan-photo > img {
  width: 100%;
  height: 100%;
}

.history-info {
  width: 100%;
  height: 50%;
  background-color: red;
}

.plan-heading {
  width: 60%;
  height: 100%;
}

.plan-photo {
  width: 40%;
  height: 100%;
  background-color: brown;
}

/* ----- Section : awards ----- */

.awards-inner {
  height: 100%;
  border: 1px solid red;
}

.awards-inner > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.about-awards {
  background-color: #1a1f24;
  color: #fff;
}

.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.victory-jump {
  background-color: #fff;
}
.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.about-heading h2 {
  margin: 0;
}

hr.bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: crimson;
  margin: 30px auto;
}

.about-heading p {
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.view-awards {
  color: #bbb;
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5s;
}

.view-awards:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

/* location - teacher */
.location-inner {
  border: 1px solid red;
  background: url(images/background-location.jpg) no-repeat center center;
  height: 100%;
}

.location-inner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
}

.location-container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbb;
}

.location-container > div {
  float: left;
}

.office {
  width: 60%;
  padding-right: 100px;
}

.features {
  width: 40%;
}

.office b {
  font-weight: normal;
}

.office h1 {
  color: #1db1f0;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}

.office p {
  font-size: 16px;
  line-height: 1.5em;
}

.office span {
  font-size: 14px;
  line-height: 1.5em;
  color: white;
}

.features {
  width: 40%;
}

.headquaters {
  margin-bottom: 30px;
}

.feature {
  margin-bottom: 25px;
}
.feature .fa {
  color: #1db1f0;
  font-size: 40px;
}
.feature h3 {
  color: #fff;
  font-size: 22px;
  margin: 0;
}

/* -----location ----- */
/*
.location-inner {
  height: 100%;
  width: 100%;
  border: 3px solid red;
  background-color: black;
}

.location-container {
  margin: auto;
  padding: 40px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.location-container::before {
  content: "";
  background-image: url("/images/background-location.jpg");
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.office {
  width: 100%;
  height: 70%;
}

.headquaters {
  margin-bottom: 50px;
}

.headquaters b {
  font-size: 15px;
  color: white;
}

.headquaters h1 {
  font-size: 40px;
  color: #0e9afb;
  font-weight: bold;

  margin: 10px 0;
}

.headquaters p {
  color: white;
}

.headquaters span {
  color: white;
  font-weight: bold;
}

.features {
  width: 80%;
  color: white;
}

.feature {
  margin-bottom: 15px;
}

.feature i {
  font-size: 35px;
  color: #0e9afb;
}

.feature span {
  color: gray;
}
*/
/* tag에 직접 style을 먹일 경우 class가 있으면 style이 먹히지 않는다. */
/* gnb - 메뉴 할 때 많이씀 */

/* ===== Contact with teacher ===== */
.contact-inner {
  background-color: #fff;
  height: 100%;
  border: 1px solid #ddd;
}

.contact-feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-feature > div {
  float: left;
  width: 50%;
  padding: 20px;
}

.contact-form {
}

.contact-form h3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.send-box {
}

.send-box label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  margin-top: 20px;
}

.send-box label span {
  color: crimson;
  font-weight: normal;
}

.send-box input[type="email"],
.send-box input[type="text"],
.send-box textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  transition: 0.5;
}

.send-box input[type="email"]:hover,
.send-box input[type="text"]:hover,
.send-box textarea:hover,
.send-box input[type="email"]:focus {
  border: 1px solid #0088cc;
  box-shadow: 0 0 5px #0088cc;
}

.send-box input[type="email"]:focus,
.send-box input[type="text"]:focus,
.send-box textarea:focus {
  background-color: #eee;
}

.send-box button {
  background-color: #0088cc;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}

.send-box button:hover {
  background-color: #000;
}

.contact-info {
}

.contact-info h4 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
}

.contact-info ul li {
  line-height: 2em;
}

.contact-info ul li:last-child {
  color: #0088cc;
}

.contact-info p {
  line-height: 1.5em;
}
/* ===== Contact ===== */
/*
.contact-inner {
  height: 100%;
  border: 3px solid red;
  background-color: #fff;
}

.contact-feature {
  width: 70%;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  height: 400px;
}

.contact-feature > div {
  float: left;
  width: 50%;
  padding: 20px;
  height: 300px;
}

.contact-title {
  font-size: 24px;
}

.contact-form {
  padding-top: 15px;
}

.contact-input {
  padding: 5px 0;
}

.contact-input > label {
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-input > label > span {
  color: red;
  font-size: 15px;
  font-weight: normal;
}

.contact-input > input {
  margin-top: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 35px;
}

.contact-input > input:hover {
  border: 1px solid #1db1f0;
  box-shadow: 0 0 2px 2px #1db1f0;
}
.contact-input > input:focus {
  background-color: yellow;
  outline: none;
}

.contact-input > textarea {
  margin-top: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}

.contact-input > textarea:hover {
  border: 1px solid #1db1f0;
  box-shadow: 0 0 2px 2px #1db1f0;
}
.contact-input > textarea:focus {
  background-color: yellow;
  outline: none;
}

.form-btn {
  color: white;
  background-color: #1db1f0;
  border: 1px solid #1db1f0;
  border-radius: 5px;
  height: 35px;
  transition: 0.5s;
}

.form-btn:hover {
  background-color: yellow;
  color: black;
}

.info {
  padding-bottom: 12px;
}

.info > h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
}

.info > ul > li {
  margin: 8px 0;
  font-size: 13px;
}

.info > p {
  font-size: 13px;
}

.info > ul > li:last-child {
  color: #1db1f0;
}
*/
